name: autofix.ci

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=prek
  PREK_VERSION: 0.2.25
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.18

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - continue-on-error: true
      run: >
        uvx
        --with prek==${{ env.PREK_VERSION }}
        prek run --show-diff-on-failure --all-files

    - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
