name: autofix.ci

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=prek
  PREK_VERSION: 0.2.25
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.18

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: ${{ env.UV_VERSION }}

    - continue-on-error: true
      run: >
        uvx
        --with prek==${{ env.PREK_VERSION }}
        prek run --show-diff-on-failure --all-files

    - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27 # v1.3.2
